* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  --about-bg-color: white;
  --about-txt-color: black;
  --about-c-con-text-color: black;
  --service-cont-color: #fff;
  --about-cont-bg-color: #e4e3e3;
  --about-text-cl: #333;
  --car-btn-bg-color: #f3f3f3;
  --car-btn-text-color: #1e2228;
  --color-pul: #ae8e00;
  --btn-color: #ffd000;
  --person-cont-bg: #b0adad;
  --person-bg-color: #fff;
  --dsp-lay: flex;
}

.dark {
  --about-bg-color: #000000e6;
  --about-txt-color: chartreuse;
  --about-c-con-text-color: white;
  --service-cont-color: #515b69;
  --about-cont-bg-color: #403c3c;
  --about-text-cl: #cbc7c7;
  --car-btn-bg-color: #000;
  --car-btn-text-color: #fff;
  --color-pul: #ffd000;
  --btn-color: #8c7308;
  --person-cont-bg: #5c5757;
  --person-bg-color: #282828;
  --dsp-lay: none;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(242, 230, 62)), color-stop(0.72, rgb(198, 190, 43)), color-stop(0.86, rgb(164, 175, 37)));
}

.hidden {
  display: none !important;
}

.scroll {
  position: fixed;
  z-index: 10;
  width: 30px;
  height: 60px;
  right: 20px;
  bottom: 35px;
  transform: translateY(93px);
  transition: all 1s;
  cursor: pointer;
}

.about-main {
  width: 100%;
  height: 426px;
  background: url(https://samir1009ms.github.io/car-product//img/product/account\ mainpage-title.jpg.webp);
  background-repeat: round;
}
.about-main .about-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6196078431);
}
.about-main .about-container .about-container-top {
  text-align: center;
  font-size: 15px;
  margin-bottom: 25px;
}
.about-main .about-container .about-container-top .about-text {
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 33px;
  color: white;
}
.about-main .about-container .about-container-top .about-container-icon {
  position: relative;
  width: 60px;
  margin: 0 auto;
  color: #ffd000;
  font-size: 18px;
}
.about-main .about-container .about-container-top .about-container-icon::after {
  content: "";
  background-color: #fff;
  height: 2px;
  left: -38px;
  position: absolute;
  top: 12px;
  width: 50px;
}
.about-main .about-container .about-container-top .about-container-icon::before {
  background-color: #fff;
  content: "";
  height: 2px;
  position: absolute;
  right: -38px;
  top: 12px;
  width: 50px;
}
.about-main .about-container .about-container-top .about-txt {
  margin-top: 10px;
  color: #fff;
  letter-spacing: 0.8px;
  font-weight: 100;
}

.about-info {
  width: 100%;
  height: auto;
  padding: 100px 0;
  position: relative;
  z-index: 2;
  background: var(--about-bg-color);
  color: var(--about-text-cl);
}
.about-info .about-info-container {
  width: 82%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--about-cont-bg-color);
}
@media (max-width: 767px) {
  .about-info .about-info-container {
    width: 100% !important;
  }
}
@media (max-width: 991px) {
  .about-info .about-info-container {
    width: 85%;
  }
}
.about-info .about-info-container .about-container-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
}
@media (max-width: 767px) {
  .about-info .about-info-container .about-container-top {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .about-info .about-info-container .about-container-top {
    flex-direction: column;
  }
}
.about-info .about-info-container .about-container-top .about-center-container {
  width: 55%;
}
@media (max-width: 767px) {
  .about-info .about-info-container .about-container-top .about-center-container {
    width: 100% !important;
  }
}
@media (max-width: 991px) {
  .about-info .about-info-container .about-container-top .about-center-container {
    width: 90%;
  }
}
.about-info .about-info-container .about-container-top .about-center-container .about-center-container-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.6;
  color: var(--about-text-cl);
  letter-spacing: 0.8px;
}
@media (max-width: 767px) {
  .about-info .about-info-container .about-container-top .about-center-container .about-button-container {
    display: flex !important;
  }
}
@media (max-width: 991px) {
  .about-info .about-info-container .about-container-top .about-center-container .about-button-container {
    margin-top: 30px;
  }
}
.about-info .about-info-container .about-container-top .about-center-container .about-button-container .about-button {
  background-color: var(--btn-color);
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  margin-right: 20px;
  padding: 16px 36px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  outline: none;
  border: none;
}
@media (max-width: 767px) {
  .about-info .about-info-container .about-container-top .about-center-container .about-button-container .about-button {
    padding: 13px 28px !important;
  }
}
.about-info .about-info-container .about-container-top .about-container-img {
  width: 50%;
}
@media (max-width: 767px) {
  .about-info .about-info-container .about-container-top .about-container-img {
    width: 100% !important;
  }
}
@media (max-width: 991px) {
  .about-info .about-info-container .about-container-top .about-container-img {
    width: 90%;
  }
}
.about-info .about-info-container .about-container-top .about-container-img .about-img {
  width: 100%;
}
.about-info .about-info-container .about-container-bottom {
  width: 100%;
  display: flex;
  gap: 6px;
}
@media (max-width: 991px) {
  .about-info .about-info-container .about-container-bottom {
    flex-wrap: wrap;
  }
}
.about-info .about-info-container .about-container-bottom .about-bottom-info {
  line-height: 1.8;
  padding: 50px 20px;
  text-align: center;
  background-color: var(--person-cont-bg);
}
@media (max-width: 991px) {
  .about-info .about-info-container .about-container-bottom .about-bottom-info {
    width: 100%;
    margin-bottom: 30px;
  }
}
.about-info .about-info-container .about-container-bottom .about-bottom-info:hover {
  background-color: #ffd000;
  color: rgb(0, 0, 0);
}
.about-info .about-info-container .about-container-bottom .about-bottom-info:hover .fa-solid.fa-car {
  color: #fff;
}
.about-info .about-info-container .about-container-bottom .about-bottom-info .fa-solid.fa-car {
  font-size: 25px;
  color: #ffd000;
}
.about-info .about-info-container .about-container-bottom .about-bottom-info .about-bottom-text {
  font-size: 18px;
  font-weight: 600;
  margin: 12px 0 10px;
  text-transform: uppercase;
}
.about-info .about-info-container .about-container-bottom .about-bottom-info .about-bottom-txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}
.about-info .about-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
}
@media (max-width: 767px) {
  .about-info .about-container-center {
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .about-info .about-container-center {
    flex-direction: column;
  }
}
.about-info .about-container-center .about-center-container {
  width: 55%;
}
@media (max-width: 767px) {
  .about-info .about-container-center .about-center-container {
    width: 100% !important;
  }
}
@media (max-width: 991px) {
  .about-info .about-container-center .about-center-container {
    width: 90%;
  }
}
.about-info .about-container-center .about-center-container .about-center-container-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.6;
  color: rgb(0, 0, 0);
  letter-spacing: 0.8px;
}
@media (max-width: 767px) {
  .about-info .about-container-center .about-center-container .about-button-container {
    display: flex !important;
  }
}
@media (max-width: 991px) {
  .about-info .about-container-center .about-center-container .about-button-container {
    margin-top: 30px;
  }
}
.about-info .about-container-center .about-center-container .about-button-container .about-button {
  background-color: #ffd000;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  margin-right: 20px;
  padding: 16px 36px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  outline: none;
  border: none;
}
@media (max-width: 767px) {
  .about-info .about-container-center .about-center-container .about-button-container .about-button {
    padding: 13px 28px !important;
  }
}
.about-info .about-container-center .about-container-img {
  width: 50%;
}
@media (max-width: 767px) {
  .about-info .about-container-center .about-container-img {
    width: 100% !important;
  }
}
@media (max-width: 991px) {
  .about-info .about-container-center .about-container-img {
    width: 90%;
  }
}
.about-info .about-container-center .about-container-img .about-img {
  width: 100%;
}

.xidmet {
  background-size: cover !important;
  background-position-y: center !important;
  background-position-x: center !important;
  padding: 100px 0;
  background: url(https://samir1009ms.github.io/car-product//img/photo/aboutslider-img-1.jpg.webp);
  position: relative;
}
.xidmet::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.xidmet .xidmet-conainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
}
.xidmet .xidmet-conainer .xidmet-info {
  width: 24%;
}
@media (max-width: 767px) {
  .xidmet .xidmet-conainer .xidmet-info {
    width: 70% !important;
    margin-bottom: 20px !important;
  }
}
@media (max-width: 991px) {
  .xidmet .xidmet-conainer .xidmet-info {
    width: 40%;
  }
}
.xidmet .xidmet-conainer .xidmet-info .xidmet-name {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
}
.xidmet .xidmet-conainer .xidmet-info .xidmet-name::after {
  background-color: #ffd000;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100px;
}
.xidmet .xidmet-conainer .xidmet-info .xidmet-list .xidmet-text {
  font-weight: 600;
  line-height: 3.5;
  font-size: 14px;
  color: white;
}
.xidmet .xidmet-conainer .xidmet-info .xidmet-list .xidmet-text::before {
  color: #ffd000;
  content: "\f046";
  font-family: fontawesome;
  margin-right: 15px;
}

.services {
  padding: 120px 0;
  background: var(--about-bg-color);
}
.services .services-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--about-cont-bg-color);
}
.services .services-container .services-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: 66%;
}
.services .services-container .services-top .services-top-name {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--about-text-cl);
  line-height: 1.2em !important;
  text-align: center;
}
.services .services-container .services-top .services-top-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  color: var(--about-text-cl);
  margin-bottom: 16px;
}
.services .services-container .services-bottom {
  width: 83%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.services .services-container .services-bottom .services-bottom-cont {
  width: 33.333%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 767px) {
  .services .services-container .services-bottom .services-bottom-cont {
    width: 100% !important;
  }
}
@media (max-width: 991px) {
  .services .services-container .services-bottom .services-bottom-cont {
    width: 50%;
  }
}
.services .services-container .services-bottom .services-bottom-cont .services-cont {
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 45px;
  background-color: #f9f9ff;
  transition: all 0.3s ease 0s;
  background: var(--person-bg-color);
}
.services .services-container .services-bottom .services-bottom-cont .services-cont:hover {
  box-shadow: -8px 10px 15px 1px #f5d459;
}
.services .services-container .services-bottom .services-bottom-cont .services-cont:hover .services-cont-name {
  color: #ffd000;
}
.services .services-container .services-bottom .services-bottom-cont .services-cont .services-cont-name {
  transition: all 0.3s ease 0s;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--about-text-cl);
}
.services .services-container .services-bottom .services-bottom-cont .services-cont .services-cont-name .cont-icon {
  margin-right: 15px;
}
.services .services-container .services-bottom .services-bottom-cont .services-cont .services-cont-text {
  margin-bottom: 16px;
  color: var(--about-text-cl);
}

.clients {
  padding-bottom: 120px;
  background: var(--about-bg-color);
}
.clients .clients-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--about-cont-bg-color);
}
.clients .clients-container .clients-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: 66%;
  margin-bottom: 3em;
}
.clients .clients-container .clients-top .client-top-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  color: #ffd000;
  margin-bottom: 16px;
}
.clients .clients-container .clients-top .clients-top-name {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--about-text-cl);
  line-height: 1.2em !important;
  text-align: center;
}
.clients .clients-container .clients-center {
  width: 82%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .clients .clients-container .clients-center {
    justify-content: center;
  }
}
.clients .clients-container .clients-center .clients-center-cont {
  display: block;
  position: relative;
  background: white;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  height: 410px;
  gap: 10px;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  background: var(--person-bg-color);
}
@media (max-width: 767px) {
  .clients .clients-container .clients-center .clients-center-cont {
    width: 81%;
  }
}
.clients .clients-container .clients-center .clients-center-cont .clients-cont {
  width: 31.5%;
  position: absolute;
  display: block;
  background: var(--person-cont-bg);
  padding: 30px 20px;
  text-align: center;
  height: 400px;
  transition: 0.35s;
  border: 1px solid #ffd000;
  box-shadow: 0px 1px 9px 2px #929090;
}
@media (max-width: 767px) {
  .clients .clients-container .clients-center .clients-center-cont .clients-cont {
    width: 92% !important;
    height: 410px;
    padding: 3px;
  }
}
@media (max-width: 991px) {
  .clients .clients-container .clients-center .clients-center-cont .clients-cont {
    width: 47%;
  }
}
.clients .clients-container .clients-center .clients-center-cont .clients-cont .clients-img {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
}
.clients .clients-container .clients-center .clients-center-cont .clients-cont .clients-img .clients-jpg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.clients .clients-container .clients-center .clients-center-cont .clients-cont .clients-cont-text {
  margin-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: var(--about-text-cl);
}
.clients .clients-container .clients-center .clients-center-cont .clients-cont .clients-cont-name {
  font-weight: 500;
  font-size: 20px;
  color: var(--about-text-cl);
  margin-bottom: 17px;
}
.clients .clients-container .clients-center .clients-center-cont .clients-cont .clients-work {
  font-size: 16px;
  color: #1089ff;
}
.clients .clients-container .clients-bottom {
  height: 39px;
  /* margin: 0 auto; */
  width: 20%;
}
.clients .clients-container .clients-bottom .clients-bottom-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.clients .clients-container .clients-bottom .clients-bottom-cont .circle {
  cursor: pointer;
}
.year {
  width: 100%;
  height: 282px;
  background: var(--about-bg-color);
}
@media (max-width: 991px) {
  .year {
    padding-bottom: 42px;
    height: 300px;
  }
}
.year .year-container {
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  height: 100%;
}
@media (max-width: 767px) {
  .year .year-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.year .year-container .year-number {
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 50px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 767px) {
  .year .year-container .year-number {
    font-size: 30px;
  }
}
.year .year-container .year-text {
  display: block;
  font-size: 18px;
  color: var(--about-text-cl);
  margin-bottom: 10px;
  line-height: 1.2;
  margin-bottom: 0;
  text-transform: capitalize;
}
.year .year-container .yer-left {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .year .year-container .yer-left {
    width: 100% !important;
    height: 25% !important;
    flex-wrap: wrap !important;
  }
}
@media (max-width: 991px) {
  .year .year-container .yer-left {
    flex-wrap: wrap;
    height: 50%;
  }
}
.year .year-container .yer-left .year-left-container {
  padding-right: 38px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  width: 35%;
  height: 100%;
  background: #ffd000;
  justify-content: end;
}
@media (max-width: 767px) {
  .year .year-container .yer-left .year-left-container {
    width: 100% !important;
    padding: 0 !important;
    justify-content: start !important;
  }
}
@media (max-width: 991px) {
  .year .year-container .yer-left .year-left-container {
    width: 50%;
    justify-content: center;
    padding: 0;
  }
}
.year .year-container .yer-left .year-left-container .year-left-text {
  color: black !important;
}
.year .year-container .yer-left .year-right-left {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  height: 100%;
}
@media (max-width: 767px) {
  .year .year-container .yer-left .year-right-left {
    width: 100% !important;
    height: 100% !important;
  }
}
@media (max-width: 991px) {
  .year .year-container .yer-left .year-right-left {
    width: 50%;
  }
}
.year .year-container .yer-left .year-right-left .right-number {
  color: #d6ae00 !important;
}
.year .year-container .year-right {
  height: 100%;
  width: 73%;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .year .year-container .year-right {
    width: 100%;
    height: 75%;
  }
}/*# sourceMappingURL=about.css.map */