* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  --about-bg-color: white;
  --about-txt-color: black;
  --about-c-con-text-color: black;
  --service-cont-color: #fff;
  --about-cont-bg-color: #e4e3e3;
  --about-text-cl: #333;
  --car-btn-bg-color: #f3f3f3;
  --car-btn-text-color: #1e2228;
  --color-pul: #ae8e00;
  --btn-color: #ffd000;
  --person-cont-bg: #b0adad;
  --person-bg-color: #fff;
  --dsp-lay: flex;
  --text-color:black;
}

.dark {
  --about-bg-color: #000000e6;
  --about-txt-color: chartreuse;
  --about-c-con-text-color: white;
  --service-cont-color: #515b69;
  --about-cont-bg-color: #403c3c;
  --about-text-cl: #cbc7c7;
  --car-btn-bg-color: #000;
  --car-btn-text-color: #fff;
  --color-pul: #ffd000;
  --btn-color: #8c7308;
  --person-cont-bg: #5c5757;
  --person-bg-color: #282828;
  --dsp-lay: none;
  --text-color:white;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(242, 230, 62)), color-stop(0.72, rgb(198, 190, 43)), color-stop(0.86, rgb(164, 175, 37)));
}

.hidden {
  display: none !important;
}

.scroll {
  position: fixed;
  z-index: 10;
  width: 30px;
  height: 60px;
  right: 20px;
  bottom: 35px;
  transform: translateY(93px);
  transition: all 1s;
  cursor: pointer;
}

.account-main {
  width: 100%;
  height: 426px;
  background: url(https://samir1009ms.github.io/car-product//img/product/account\ mainpage-title.jpg.webp);
  background-repeat: round;
}
.account-main .account-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6196078431);
}
.account-main .account-container .account-container-top {
  text-align: center;
  font-size: 15px;
  margin-bottom: 25px;
}
.account-main .account-container .account-container-top .account-text {
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 33px;
  color: white;
}
.account-main .account-container .account-container-top .account-container-icon {
  position: relative;
  width: 60px;
  margin: 0 auto;
  color: #ffd000;
  font-size: 18px;
}
.account-main .account-container .account-container-top .account-container-icon::after {
  content: "";
  background-color: #fff;
  height: 2px;
  left: -38px;
  position: absolute;
  top: 12px;
  width: 50px;
}
.account-main .account-container .account-container-top .account-container-icon::before {
  background-color: #fff;
  content: "";
  height: 2px;
  position: absolute;
  right: -38px;
  top: 12px;
  width: 50px;
}
.account-main .account-container .account-container-top .account-txt {
  margin-top: 10px;
  color: #fff;
  letter-spacing: 0.8px;
  font-weight: 100;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
  background: var(--about-bg-color);
}
.container .height {
  height: 850px;
}
.container .loginBtn {
  width: 34%;
  border-radius: 10px;
  gap: 7px;
  background-color: var(--about-cont-bg-color);
  border: 1px solid #ffd000;
  padding-top: 20px;
}
@media (max-width: 575px) {
  .container .loginBtn {
    width: 85% !important;
    gap: 5px;
  }
}
@media (max-width: 767px) {
  .container .loginBtn {
    width: 60%;
  }
}
@media (max-width: 991px) {
  .container .loginBtn {
    width: 47%;
  }
}
.container .loginBtn .sert {
  width: 100%;
  height: 107.34vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -55px;
  background-color: rgba(0, 0, 0, 0.7294117647);
  z-index: 5;
}
.container .loginBtn .sert .qaydaa {
  position: absolute;
  z-index: 6;
  width: 24%;
  background: #fff;
  height: 49%;
  overflow-y: scroll;
  border-radius: 5px;
  position: relative;
}
.container .loginBtn .sert .qaydaa .fa-regular {
  position: absolute;
  right: 5px;
  top: 4px;
  font-size: 20px;
  color: #ba958b;
  cursor: pointer;
}
.container .loginBtn .sert .qaydaa .fa-regular:hover {
  color: red;
  transform: scale(1.12);
  transition: 0.987s;
}
.container .loginBtn .qeydiyyatsiz {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}
.container .loginBtn .qeydiyyatsiz .qeydiyyatsiz-text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 8px;
}
.container .loginBtn .qeydiyyatsiz .qeydiyyatsiz-text a {
  text-decoration: none;
  cursor: pointer;
  color: var(--about-text-cl);
}
.container .loginBtn .button {
  width: 68%;
  height: 48px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: #b5babc;
  border-radius: 10px;
  margin-bottom: 25px;
}
.container .loginBtn .button .login {
  width: 166px;
  height: 48px;
  padding: 17px;
  color: #010101;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.678s;
  z-index: 2;
  border: none;
  background: none;
  border-radius: 10px;
}
.container .loginBtn .Sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  height: 58vh;
  gap: 25px;
  border-radius: 10px;
  position: relative;
}
.container .loginBtn .Sign-container .loginParol {
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 75%;
}
.container .loginBtn .Sign-container .fa-circle-xmark {
  position: absolute;
  top: 6px;
  right: 6px;
  color: #ba958b;
  cursor: pointer;
}
.container .loginBtn .Sign-container .fa-circle-xmark:hover {
  color: red;
  transform: scale(1.12);
  transition: 0.987s;
}
.container .loginBtn .Sign-container .email {
  padding: 2px 13px;
  width: 100%;
  height: 46px;
  background-color: #eee;
  border: 1px solid #ffd000;
  border-radius: 6px;
  outline: none;
}
.container .loginBtn .Sign-container .daxil-ol {
  background-color: #ffd000;
  cursor: pointer;
  width: 100%;
}
.container .loginBtn .Signup-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  position: relative;
}
.container .loginBtn .Signup-container .rules {
  position: fixed;
  width: 100%;
  height: 90%;
  top: 80px;
  background: rgba(0, 0, 0, 0.631372549);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .loginBtn .Signup-container .rules .rules-container {
  width: 35%;
  height: 74%;
  overflow-x: auto;
  position: relative;
  background-color: white;
  padding: 4px;
}
.container .loginBtn .Signup-container .rules .rules-container .rules-text {
  width: 96%;
  text-align: start;
  color: black;
}
.container .loginBtn .Signup-container .rules .rules-container .rulesExit {
  position: absolute;
  right: 4px;
  top: 4px;
  transition: 0.35s;
  cursor: pointer;
  font-size: 17px;
}
.container .loginBtn .Signup-container .rules .rules-container .rulesExit:hover {
  color: red;
  transition: 0s 0.35;
  transform: scale(1.099);
}
.container .loginBtn .Signup-container .registerform {
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 75%;
}
.container .loginBtn .Signup-container .fa-circle-xmark {
  position: absolute;
  top: 6px;
  right: 6px;
  color: #ba958b;
  cursor: pointer;
}
.container .loginBtn .Signup-container .fa-circle-xmark:hover {
  color: red;
  transform: scale(1.12);
  transition: 0.987s;
}
.container .loginBtn .Signup-container p {
  font-size: 14px;
  color: #ba958b;
  cursor: pointer;
  text-align: center;
  margin-bottom: 8px;
}
.container .loginBtn .Signup-container .email {
  padding: 2px 13px;
  width: 100%;
  height: 46px;
  background-color: #eee;
  border: 1px solid #ffd000;
  border-radius: 6px;
  outline: none;
}
.container .loginBtn .Signup-container .qayda {
  width: 75%;
  font-size: 17px;
  display: flex;
  align-items: flex-start;
  gap: 3px;
}
.container .loginBtn .Signup-container .qayda .checkbox {
  width: 11px;
  height: 14px;
}
.container .loginBtn .Signup-container .qayda .qaydalar .qaydalink {
  color: var(--color-pul);
  cursor: pointer;
  transition: 0.987s;
}
.container .loginBtn .Signup-container .qayda .qaydalar .qaydalink:hover {
  color: black;
}
.container .loginBtn .Signup-container .daxil-ol {
  background-color: #ffd000;
  cursor: pointer;
  width: 100%;
}
.container .loginBtn .Signup-container .fullname {
  width: 100%;
  display: flex;
  gap: 5px;
}
.container .loginBtn .Signup-container .fullname .add {
  width: 100%;
}
.container .loginBtn .Signup-container .fullname .add .ad {
  padding: 2px 13px;
  width: 100%;
  height: 46px;
  background-color: #eee;
  border: 1px solid #ffd000;
  border-radius: 6px;
  outline: none;
}
.container .loginBtn .Signup-container .fullname .soyadd {
  width: 100%;
}
.container .loginBtn .Signup-container .fullname .soyadd .soyad2 {
  padding: 2px 13px;
  width: 100%;
  height: 46px;
  background-color: #eee;
  border: 1px solid #ffd000;
  border-radius: 6px;
  outline: none;
}
.container .block {
  display: block !important;
}/*# sourceMappingURL=account.css.map */