* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(242, 230, 62)), color-stop(0.72, rgb(198, 190, 43)), color-stop(0.86, rgb(164, 175, 37)));
}

.hidden {
  display: none !important;
}

.scroll {
  position: fixed;
  z-index: 10;
  width: 30px;
  height: 60px;
  right: 20px;
  bottom: 35px;
  transform: translateY(93px);
  transition: all 1s;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
}
@media (max-width: 767px) {
  .header {
    height: 80px !important;
  }
}
.header .menubar {
  width: 50px;
  height: 7px;
  position: relative;
  border-radius: 3px;
  background-color: #000ba2;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}
.header .nav {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
}
.header .nav .nav-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .header .nav .nav-container {
    margin: 0 !important;
    align-items: center;
    width: 91%;
  }
}
.header .nav .nav-container .hamburger {
  margin-left: 30px;
  width: 7px;
  height: 45px;
  z-index: 5;
  display: none;
}
@media (max-width: 767px) {
  .header .nav .nav-container .hamburger {
    display: block;
    margin-top: -12px !important;
  }
}
@media (max-width: 991px) {
  .header .nav .nav-container .hamburger {
    display: block;
    margin-top: 13px;
  }
}
.header .nav .nav-container .nav-logo {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header .nav .nav-container .nav-list {
    position: absolute;
    top: 106px;
    width: 100%;
    background: black;
    padding-bottom: 28px;
    padding-left: 14px;
    display: none;
    transition: 0.7s;
  }
}
@media (max-width: 991px) {
  .header .nav .nav-container .nav-list {
    position: absolute;
    top: 80px;
    width: 100%;
    background: black;
    padding-bottom: 28px;
    padding-left: 14px;
    left: 0;
    display: none;
  }
}
.header .nav .nav-container .nav-list .nav-list-top {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
@media (max-width: 767px) {
  .header .nav .nav-container .nav-list .nav-list-top {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 991px) {
  .header .nav .nav-container .nav-list .nav-list-top {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header .nav .nav-container .nav-list .nav-list-top .blogDrop {
  position: relative;
  cursor: pointer;
}
.header .nav .nav-container .nav-list .nav-list-top .blogDrop .drow {
  position: absolute;
  width: 140px;
  height: 70px;
  top: 52px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3;
}
@media (max-width: 991px) {
  .header .nav .nav-container .nav-list .nav-list-top .blogDrop .drow {
    position: relative;
    top: 0;
    background: none;
  }
  .header .nav .nav-container .nav-list .nav-list-top .blogDrop .drow::after {
    position: relative;
    width: 0px;
    display: none;
  }
}
.header .nav .nav-container .nav-list .nav-list-top .blogDrop .drow::after {
  content: "";
  width: 14px;
  height: 14px;
  background: white;
  position: absolute;
  top: -6px;
  transform: rotateZ(46deg);
  left: 20px;
  z-index: 0;
}
.header .nav .nav-container .nav-list .nav-list-top .blogDrop .drow .down {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 991px) {
  .header .nav .nav-container .nav-list .nav-list-top .blogDrop .drow .down:hover {
    background: black !important;
  }
}
.header .nav .nav-container .nav-list .nav-list-top .blogDrop .drow .down:hover {
  background: #ffd000;
}
.header .nav .nav-container .nav-list .nav-list-top .blogDrop .drow .down .down-link {
  padding-left: 10px;
  color: #000;
}
@media (max-width: 991px) {
  .header .nav .nav-container .nav-list .nav-list-top .blogDrop .drow .down .down-link {
    color: white;
  }
  .header .nav .nav-container .nav-list .nav-list-top .blogDrop .drow .down .down-link:hover {
    color: #ffe000;
  }
}
.header .nav .nav-container .nav-list .nav-list-top .listler {
  color: white;
}
.header .nav .nav-container .nav-list .nav-list-top .listler:hover {
  color: #ffd000;
  transition: all 0.35s;
}
.header .nav .nav-container .nav-list .nav-list-top .listler .list-link {
  color: white;
  transition: all 0.35s;
}
.header .nav .nav-container .nav-list .nav-list-top .listler .list-link i {
  color: #ffd000;
  margin-right: 5px;
  z-index: 1;
}
.header .nav .nav-container .nav-list .nav-list-top .listler .list-link:hover {
  color: #ffd000;
  transition: all 0.35s;
}
.header .nav .nav-container .nav-list .nav-list-top .listler .list-link:active {
  color: #ffd000;
}

.blog-main {
  width: 100%;
  height: 426px;
  background: url(https://samir1009ms.github.io/car-product//img/product/account\ mainpage-title.jpg.webp);
  background-repeat: round;
}
.blog-main .blog-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6196078431);
}
.blog-main .blog-container .blog-container-top {
  text-align: center;
  font-size: 15px;
  margin-bottom: 25px;
}
.blog-main .blog-container .blog-container-top .blog-text {
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 33px;
  color: white;
}
.blog-main .blog-container .blog-container-top .blog-container-icon {
  position: relative;
  width: 60px;
  margin: 0 auto;
  color: #ffd000;
  font-size: 18px;
}
.blog-main .blog-container .blog-container-top .blog-container-icon::after {
  content: "";
  background-color: #fff;
  height: 2px;
  left: -38px;
  position: absolute;
  top: 12px;
  width: 50px;
}
.blog-main .blog-container .blog-container-top .blog-container-icon::before {
  background-color: #fff;
  content: "";
  height: 2px;
  position: absolute;
  right: -38px;
  top: 12px;
  width: 50px;
}
.blog-main .blog-container .blog-container-top .blog-txt {
  margin-top: 10px;
  color: #fff;
  letter-spacing: 0.8px;
  font-weight: 100;
}

.articles {
  width: 100%;
  height: auto;
  padding: 100px 0 54px;
}
.articles .articles-container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 1px;
}
@media (max-width: 767px) {
  .articles .articles-container {
    width: 100% !important;
  }
}
.articles .articles-container .articles-top {
  text-align: center;
  font-size: 15px;
  height: 186px;
  width: 100%;
}
.articles .articles-container .articles-top .articles-text {
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 33px;
}
.articles .articles-container .articles-top .articles-icon {
  position: relative;
  width: 60px;
  margin: 0 auto;
  color: #ffd000;
  font-size: 18px;
}
.articles .articles-container .articles-top .articles-icon::after {
  content: "";
  background-color: #333;
  height: 2px;
  left: -38px;
  position: absolute;
  top: 12px;
  width: 50px;
}
.articles .articles-container .articles-top .articles-icon::before {
  background-color: #333;
  content: "";
  height: 2px;
  position: absolute;
  right: -38px;
  top: 12px;
  width: 50px;
}
.articles .articles-container .articles-top .articles-txt {
  margin-top: 10px;
  color: #333;
  letter-spacing: 0.8px;
  font-weight: 100;
}
.articles .articles-container .column-revers {
  flex-direction: row-reverse;
}
.articles .articles-container .articles-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 6px 2px #9f9797;
  height: 300px;
  margin-bottom: 46px;
}
@media (max-width: 767px) {
  .articles .articles-container .articles-bottom {
    flex-direction: column !important;
    height: auto !important;
    padding-bottom: 40px !important;
  }
}
@media (max-width: 991px) {
  .articles .articles-container .articles-bottom {
    flex-direction: column;
    height: auto;
    padding-bottom: 40px;
  }
}
.articles .articles-container .articles-bottom .articles-img {
  width: 69.104%;
  height: 100%;
}
@media (max-width: 767px) {
  .articles .articles-container .articles-bottom .articles-img {
    width: 100% !important;
    padding-bottom: 35px !important;
  }
}
@media (max-width: 991px) {
  .articles .articles-container .articles-bottom .articles-img {
    width: 100%;
    padding-bottom: 35px;
  }
}
.articles .articles-container .articles-bottom .articles-img .articles-jpg {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.4s;
  height: 100%;
}
.articles .articles-container .articles-bottom .articles-img .articles-jpg:hover {
  filter: grayscale(0%);
  transition: all 0.4s;
}
.articles .articles-container .articles-bottom .articles-right {
  padding: 0 25px;
  width: 100%;
  position: relative;
}
@media (max-width: 767px) {
  .articles .articles-container .articles-bottom .articles-right {
    padding: 0 !important;
  }
}
.articles .articles-container .articles-bottom .articles-right .date2 {
  left: inherit !important;
  right: -28px;
}
@media (max-width: 767px) {
  .articles .articles-container .articles-bottom .articles-right .date2 {
    right: 47% !important;
  }
}
@media (max-width: 991px) {
  .articles .articles-container .articles-bottom .articles-right .date2 {
    right: 40%;
  }
}
.articles .articles-container .articles-bottom .articles-right .articles-date {
  position: absolute;
  top: 35%;
  left: -25px;
  width: 55px;
  background: #ffe000;
  text-align: center;
  border-radius: 10px;
  padding: 6px;
  color: #fff;
}
@media (max-width: 767px) {
  .articles .articles-container .articles-bottom .articles-right .articles-date {
    top: -21% !important;
    left: 40% !important;
  }
}
@media (max-width: 991px) {
  .articles .articles-container .articles-bottom .articles-right .articles-date {
    top: -30%;
    left: 47%;
  }
}
.articles .articles-container .articles-bottom .articles-right .articles-right-container {
  margin-left: 33px;
}
.articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-right-text {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  color: #222;
  font-size: 20px;
}
.articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-right-txt {
  margin: 15px 0 10px;
}
.articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-right-txt .txt-container {
  color: #999;
  font-size: 12px;
  font-weight: 600;
  margin-right: 25px;
  text-transform: uppercase;
}
.articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-right-txt .txt-container .articles-name .articles-user {
  color: #ffd000;
}
.articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-info {
  color: #999;
  line-height: 1.8;
  text-transform: capitalize;
}
.articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-button {
  background-color: #222;
  color: #ffd000;
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-top: 25px;
  padding: 16px 40px;
  cursor: pointer;
  transition: all 0.4s;
  border: none;
  text-transform: uppercase;
}
.articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-button:hover {
  background-color: #ffd000;
  color: #fff;
  border: none;
}
.articles .articles-buton {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.articles .articles-buton .articles-buton-container .buton {
  width: 22%;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid #ffd000;
  display: flex;
}
.articles .articles-buton .articles-buton-container .buton .button {
  padding: 0.5rem 0.75rem;
  border: none;
  border-left: 1px solid #ffd000;
  background: white;
}
.articles .articles-buton .articles-buton-container .buton .button:hover {
  background: #ffd000;
  color: white;
}
.articles .articles-buton .articles-buton-container .buton .buttonNext {
  padding: 0.5rem 0.75rem;
  border: none;
  border-left: 1px solid #ffd000;
  background: white;
}
.articles .articles-buton .articles-buton-container .buton .buttonNext:hover {
  background: #ffd000;
  color: white;
}
.articles .articles-buton .articles-buton-container .buton .buttonPrew {
  padding: 0.5rem 0.75rem;
  border: none;
  border-left: 1px solid #ffd000;
  background: white;
}
.articles .articles-buton .articles-buton-container .buton .buttonPrew:hover {
  background: #ffd000;
  color: white;
}

.footer {
  width: 100%;
  background-color: #1e2228;
}
.footer .footer-name {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}
.footer .footer-container {
  padding: 60px 0;
  display: flex;
  width: 78%;
  margin: 0 auto;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer .footer-container {
    width: 100% !important;
    flex-direction: column !important;
  }
}
@media (max-width: 991px) {
  .footer .footer-container {
    flex-wrap: wrap;
  }
}
.footer .footer-container .footer-top {
  width: 30.595%;
}
@media (max-width: 767px) {
  .footer .footer-container .footer-top {
    width: 100% !important;
  }
}
@media (max-width: 991px) {
  .footer .footer-container .footer-top {
    width: 47%;
  }
}
.footer .footer-container .footer-top .footer-logo {
  margin-bottom: 20px;
}
.footer .footer-container .footer-top .footer-top-text {
  font-size: 13px;
  line-height: 2;
  color: #fff;
}
.footer .footer-container .footer-top .footer-form {
  margin-top: 20px;
  position: relative;
}
.footer .footer-container .footer-top .footer-form .footer-input {
  background-color: transparent;
  border: 1px solid #ffd000;
  border-radius: 2px;
  color: #fff;
  height: 55px;
  padding: 10px;
  padding-right: 70px;
  width: 100%;
}
.footer .footer-container .footer-top .footer-form .footer-top-icon {
  width: 50px;
  height: 100%;
  font-size: 41px;
  background-color: #ffd000;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  cursor: pointer;
  border: none;
}
.footer .footer-container .footer-center {
  width: 30.595%;
}
@media (max-width: 767px) {
  .footer .footer-container .footer-center {
    width: 100% !important;
  }
}
@media (max-width: 991px) {
  .footer .footer-container .footer-center {
    width: 47%;
  }
}
.footer .footer-container .footer-center .footer-center-text {
  background-color: #000;
  font-weight: 600;
  letter-spacing: 1.3px;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  color: #ffd000;
  font-size: 13px;
}
.footer .footer-container .footer-center .footer-center-text .footer-center-icon {
  background-color: #fff;
  color: #000;
  font-size: 18px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 23%;
  padding: 7px;
  cursor: pointer;
}
.footer .footer-container .footer-center .footer-center-text:hover .footer-center-icon {
  background-color: #ffd000;
}
.footer .footer-container .footer-bottom {
  width: 33.217%;
}
@media (max-width: 767px) {
  .footer .footer-container .footer-bottom {
    width: 100% !important;
  }
}
@media (max-width: 991px) {
  .footer .footer-container .footer-bottom {
    width: 47%;
  }
}
.footer .footer-container .footer-bottom .footer-bottom-text {
  font-size: 13px;
  line-height: 2;
  color: #fff;
}
.footer .footer-container .footer-bottom .footer-bottom-info {
  color: #ffd000;
  font-size: 15px;
  font-weight: 600;
  line-height: 2.5;
}
.footer .footer-container .footer-bottom .footer-bottom-location {
  background-color: #ffd000;
  color: #000 !important;
  font-size: 13px;
  font-weight: 600;
  margin-top: 20px;
  padding: 13px 30px;
  border: none;
  cursor: pointer;
}
.footer .end {
  background-color: #000;
  color: #eaeaea;
  padding: 15px 0;
}
.footer .end .end-container {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media (max-width: 767px) {
  .footer .end .end-container {
    width: 100% !important;
  }
}
@media (max-width: 991px) {
  .footer .end .end-container {
    width: 100%;
  }
}
.footer .end .end-container .end-text {
  font-size: 14px;
}
.footer .end .end-container .end-text .endicon {
  color: #eaeaea;
}
.footer .end .end-container .end-text .end-txt {
  color: #ffd000;
}/*# sourceMappingURL=blog.css.map */