* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  --about-bg-color: white;
  --about-txt-color: black;
  --about-c-con-text-color: black;
  --service-cont-color: #fff;
  --about-cont-bg-color: #e4e3e3;
  --about-text-cl: #333;
  --car-btn-bg-color: #f3f3f3;
  --car-btn-text-color: #1e2228;
  --color-pul: #ae8e00;
  --btn-color: #ffd000;
  --person-cont-bg: #b0adad;
  --person-bg-color: #fff;
  --dsp-lay: flex;
  --text-color:black;
}

.dark {
  --about-bg-color: #000000e6;
  --about-txt-color: chartreuse;
  --about-c-con-text-color: white;
  --service-cont-color: #515b69;
  --about-cont-bg-color: #403c3c;
  --about-text-cl: #cbc7c7;
  --car-btn-bg-color: #000;
  --car-btn-text-color: #fff;
  --color-pul: #ffd000;
  --btn-color: #8c7308;
  --person-cont-bg: #5c5757;
  --person-bg-color: #282828;
  --dsp-lay: none;
  --text-color:white;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(242, 230, 62)), color-stop(0.72, rgb(198, 190, 43)), color-stop(0.86, rgb(164, 175, 37)));
}

.hidden {
  display: none !important;
}

.scroll {
  position: fixed;
  z-index: 10;
  width: 30px;
  height: 60px;
  right: 20px;
  bottom: 35px;
  transform: translateY(93px);
  transition: all 1s;
  cursor: pointer;
}

.contact-main {
  width: 100%;
  height: 426px;
  background: url(https://samir1009ms.github.io/car-product//img/product/account\ mainpage-title.jpg.webp);
  background-repeat: round;
}
.contact-main .contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6196078431);
}
.contact-main .contact-container .contact-container-top {
  text-align: center;
  font-size: 15px;
  margin-bottom: 25px;
}
.contact-main .contact-container .contact-container-top .contact-text {
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 33px;
  color: white;
}
.contact-main .contact-container .contact-container-top .contact-container-icon {
  position: relative;
  width: 60px;
  margin: 0 auto;
  color: #ffd000;
  font-size: 18px;
}
.contact-main .contact-container .contact-container-top .contact-container-icon::after {
  content: "";
  background-color: #fff;
  height: 2px;
  left: -38px;
  position: absolute;
  top: 12px;
  width: 50px;
}
.contact-main .contact-container .contact-container-top .contact-container-icon::before {
  background-color: #fff;
  content: "";
  height: 2px;
  position: absolute;
  right: -38px;
  top: 12px;
  width: 50px;
}
.contact-main .contact-container .contact-container-top .contact-txt {
  margin-top: 10px;
  color: #fff;
  letter-spacing: 0.8px;
  font-weight: 100;
}

.map {
  padding: 120px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--about-bg-color);
}

.contact-form {
  width: 100%;
  padding-bottom: 120px;
  background: var(--about-bg-color);
}
.contact-form .contact-form-container {
  width: 100%;
  display: flex;
  background-color: var(--about-cont-bg-color);
}
@media (max-width: 991px) {
  .contact-form .contact-form-container {
    flex-direction: column !important;
    gap: 10px;
    align-items: center !important;
  }
}
.contact-form .contact-form-container .contact-form-top {
  width: 28.4%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 13px;
}
@media (max-width: 767px) {
  .contact-form .contact-form-container .contact-form-top {
    width: 80% !important;
    padding-left: 40px !important;
  }
}
@media (max-width: 991px) {
  .contact-form .contact-form-container .contact-form-top {
    width: 90%;
    padding-left: 40px;
  }
}
.contact-form .contact-form-container .contact-form-top .contact-top-info {
  display: flex;
  align-items: center;
}
.contact-form .contact-form-container .contact-form-top .contact-top-info .contact-top-icon {
  margin-right: 30px;
}
.contact-form .contact-form-container .contact-form-top .contact-top-info .contact-top-icon i {
  font-size: 30px;
  color: #fab700;
}
.contact-form .contact-form-container .contact-form-top .contact-top-info .contact-top-text .contact-top-name {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--text-color);
  line-height: 1.2em !important;
}
.contact-form .contact-form-container .contact-form-top .contact-top-info .contact-top-text .contact-top-txt {
  margin-bottom: 1rem;
  color: var(--about-text-cl);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}
.contact-form .contact-form-container .contact-form-bottom {
  width: 72%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 28px;
}
@media (max-width: 767px) {
  .contact-form .contact-form-container .contact-form-bottom {
    width: 80% !important;
  }
}
@media (max-width: 991px) {
  .contact-form .contact-form-container .contact-form-bottom {
    width: 90%;
  }
}
.contact-form .contact-form-container .contact-form-bottom .form-top {
  display: flex;
}
@media (max-width: 991px) {
  .contact-form .contact-form-container .contact-form-bottom .form-top {
    flex-direction: column !important;
  }
}
.contact-form .contact-form-container .contact-form-bottom .form-top .form-top-input {
  width: 43.705%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .contact-form .contact-form-container .contact-form-bottom .form-top .form-top-input {
    width: 100% !important;
  }
}
.contact-form .contact-form-container .contact-form-bottom .form-top .form-top-input .input {
  font-size: 12px;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  outline: none;
  border: 1px solid #ffd000;
}
.contact-form .contact-form-container .contact-form-bottom .form-top .form-top-input .succes {
  text-transform: uppercase;
  width: 100%;
}
.contact-form .contact-form-container .contact-form-bottom .form-top .form-top-message {
  width: 43.705%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 991px) {
  .contact-form .contact-form-container .contact-form-bottom .form-top .form-top-message {
    width: 100% !important;
  }
}
.contact-form .contact-form-container .contact-form-bottom .form-top .form-top-message .mesaj {
  width: 100%;
  height: 180px;
  border: 1px solid #ffd000;
  font-size: 12px;
  outline: none;
}
.contact-form .contact-form-container .contact-form-bottom .form-top .form-top-message .form-buton {
  background-color: #fab700;
  line-height: 42px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  border: 1px solid transparent;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  float: right;
  margin-top: 25px;
}/*# sourceMappingURL=contact.css.map */