* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
}

.hidden {
  display: none;
}

.scroll {
  position: fixed;
  z-index: 10;
  width: 30px;
  height: 60px;
  right: 20px;
  bottom: 35px;
  transform: translateY(93px);
  transition: all 1s;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
}
.header .top {
  width: 100%;
  height: 40px;
  background-color: #1e2228;
  color: white;
}
@media (max-width: 767px) {
  .header .top {
    display: none;
  }
}
.header .top .top-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header .top .top-container .top-text i {
  color: #ffd000;
}
.header .top .top-container .top-link i {
  color: white;
}
.header .nav {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
}
.header .nav .nav-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .header .nav .nav-container {
    margin: 0;
  }
}
.header .nav .nav-container .nav-logo {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header .nav .nav-container .nav-list {
    display: none;
  }
}
.header .nav .nav-container .nav-list .nav-list-top {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.header .nav .nav-container .nav-list .nav-list-top .listler .list-link {
  color: white;
  transition: all 0.35s;
}
.header .nav .nav-container .nav-list .nav-list-top .listler .list-link i {
  color: #ffd000;
  margin-right: 5px;
  z-index: 1;
}
.header .nav .nav-container .nav-list .nav-list-top .listler .list-link:hover {
  color: #ffd000;
  transition: all 0.35s;
}
.header .nav .nav-container .nav-list .nav-list-top .listler .list-link:active {
  color: #ffd000;
}

.main {
  width: 100%;
}
.main .main-video {
  width: 100%;
  height: 700px;
  position: relative;
}
@media (max-width: 767px) {
  .main .main-video {
    height: 100vh;
  }
}
.main .main-video .video-container {
  width: 100%;
  height: 100%;
}
.main .main-video .video-container .video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .main-video .main-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.3882352941);
}
.main .main-video .main-content .main-content-container {
  width: 78%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  position: absolute;
  left: 10.6%;
  top: 29%;
  text-align: center;
}
@media (max-width: 767px) {
  .main .main-video .main-content .main-content-container {
    top: 20%;
    width: 100%;
    left: 0;
  }
}
.main .main-video .main-content .main-content-container .main-content-text .main-content-text-top {
  font-size: 70px;
  color: #ffd000;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .main .main-video .main-content .main-content-container .main-content-text .main-content-text-top {
    font-size: 30px;
  }
}
.main .main-video .main-content .main-content-container .main-content-text .main-content-text-center {
  font-size: 17;
  color: #fff;
  font-weight: 600;
  line-height: 2;
}
@media (max-width: 767px) {
  .main .main-video .main-content .main-content-container .main-content-text .main-content-text-center {
    font-size: 13px;
  }
}
.main .main-video .main-content .main-content-container .main-content-selected {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  margin: 70px auto auto;
  overflow: hidden;
  padding: 50px 20px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
@media (max-width: 767px) {
  .main .main-video .main-content .main-content-container .main-content-selected {
    flex-direction: column;
    gap: 15px;
  }
}
.main .main-video .main-content .main-content-container .main-content-selected .location {
  width: 19.6%;
  height: 41px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  border: 1px solid #ced4da;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .main .main-video .main-content .main-content-container .main-content-selected .location {
    width: 100%;
  }
}
.main .main-video .main-content .main-content-container .main-content-selected .location option {
  color: #fff;
  background-color: rgba(14, 12, 12, 0.753);
}
.main .main-video .main-content .main-content-container .main-content-selected .date {
  width: 40.2%;
  display: flex;
  gap: 5px;
}
@media (max-width: 767px) {
  .main .main-video .main-content .main-content-container .main-content-selected .date {
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }
}
.main .main-video .main-content .main-content-container .main-content-selected .date .date-text {
  width: 100%;
}
.main .main-video .main-content .main-content-container .main-content-selected .date .date-text::-moz-placeholder {
  color: #fff;
  text-transform: uppercase;
}
.main .main-video .main-content .main-content-container .main-content-selected .date .date-text:-ms-input-placeholder {
  color: #fff;
  text-transform: uppercase;
}
.main .main-video .main-content .main-content-container .main-content-selected .date .date-text::placeholder {
  color: #fff;
  text-transform: uppercase;
}
.main .main-video .main-content .main-content-container .main-content-selected .main-button {
  cursor: pointer;
  transition: 0.44s;
}
.main .main-video .main-content .main-content-container .main-content-selected .main-button:hover {
  background-color: #ffd000;
  color: #1e2228;
}
.main .about {
  width: 100%;
  height: auto;
  padding: 100px 0;
  position: relative;
  z-index: 2;
}
.main .about .about-container {
  width: 82%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .main .about .about-container {
    width: 100%;
  }
}
.main .about .about-container .about-container-top {
  text-align: center;
  font-size: 15px;
  margin-bottom: 25px;
}
.main .about .about-container .about-container-top .about-text {
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 33px;
}
.main .about .about-container .about-container-top .about-container-icon {
  position: relative;
  width: 60px;
  margin: 0 auto;
  color: #ffd000;
  font-size: 18px;
}
.main .about .about-container .about-container-top .about-container-icon::after {
  content: "";
  background-color: #333;
  height: 2px;
  left: -38px;
  position: absolute;
  top: 12px;
  width: 50px;
}
.main .about .about-container .about-container-top .about-container-icon::before {
  background-color: #333;
  content: "";
  height: 2px;
  position: absolute;
  right: -38px;
  top: 12px;
  width: 50px;
}
.main .about .about-container .about-container-top .about-txt {
  margin-top: 10px;
  color: #333;
  letter-spacing: 0.8px;
  font-weight: 100;
}
.main .about .about-container .about-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
}
@media (max-width: 767px) {
  .main .about .about-container .about-container-center {
    flex-direction: column;
  }
}
.main .about .about-container .about-container-center .about-center-container {
  width: 55%;
}
@media (max-width: 767px) {
  .main .about .about-container .about-container-center .about-center-container {
    width: 100%;
  }
}
.main .about .about-container .about-container-center .about-center-container .about-center-container-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 2.6;
  color: rgb(0, 0, 0);
  letter-spacing: 0.8px;
}
@media (max-width: 767px) {
  .main .about .about-container .about-container-center .about-center-container .about-button-container {
    display: flex;
  }
}
.main .about .about-container .about-container-center .about-center-container .about-button-container .about-button {
  background-color: #ffd000;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  margin-right: 20px;
  padding: 16px 36px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  outline: none;
  border: none;
}
@media (max-width: 767px) {
  .main .about .about-container .about-container-center .about-center-container .about-button-container .about-button {
    padding: 13px 28px;
  }
}
.main .about .about-container .about-container-center .about-container-img {
  width: 50%;
}
@media (max-width: 767px) {
  .main .about .about-container .about-container-center .about-container-img {
    width: 100%;
  }
}
.main .about .about-container .about-container-center .about-container-img .about-img {
  width: 100%;
}
.main .about .about-container .about-container-bottom {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  width: 100%;
  gap: 33px;
}
.main .about .about-container .about-container-bottom .about-bottom-container {
  width: 33.333%;
  line-height: 1.8;
  padding: 35px 20px;
  text-align: center;
  background-color: #fff;
}
.main .about .about-container .about-container-bottom .about-bottom-container:hover {
  background-color: #ffd000;
  color: rgb(168, 168, 168);
}
.main .about .about-container .about-container-bottom .about-bottom-container:hover i {
  color: #fff;
}
.main .about .about-container .about-container-bottom .about-bottom-container i {
  color: #ffd000;
  font-size: 27px;
}
.main .about .about-container .about-container-bottom .about-bottom-container .about-bottom-top {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin: 12px 0 10px;
}
.main .about .about-container .about-container-bottom .about-bottom-container .about-bottom-text {
  font-size: 16px;
}
.main .slider {
  width: 100%;
  height: 150px;
  background-color: #eaeaea;
  padding: 20px 0;
}
.main .slider .slider-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  overflow: scroll;
}
.main .slider .slider-container::-webkit-scrollbar {
  display: none;
}
.main .slider .slider-container .slyde {
  width: 20%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .main .slider .slider-container .slyde {
    left: 59px;
    width: 100%;
  }
}
.main .services {
  width: 100%;
  height: auto;
  padding: 100px 0;
  position: relative;
  z-index: 2;
}
.main .services .services-container {
  width: 82%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 1px;
}
@media (max-width: 767px) {
  .main .services .services-container {
    width: 100%;
  }
}
.main .services .services-container .services-top {
  text-align: center;
  font-size: 15px;
  height: 186px;
  width: 100%;
}
.main .services .services-container .services-top .services-text {
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 33px;
}
.main .services .services-container .services-top .services-icon {
  position: relative;
  width: 60px;
  margin: 0 auto;
  color: #ffd000;
  font-size: 18px;
}
.main .services .services-container .services-top .services-icon::after {
  content: "";
  background-color: #333;
  height: 2px;
  left: -38px;
  position: absolute;
  top: 12px;
  width: 50px;
}
.main .services .services-container .services-top .services-icon::before {
  background-color: #333;
  content: "";
  height: 2px;
  position: absolute;
  right: -38px;
  top: 12px;
  width: 50px;
}
.main .services .services-container .services-top .services-txt {
  margin-top: 10px;
  color: #333;
  letter-spacing: 0.8px;
  font-weight: 100;
}
.main .services .services-container .services-bottom {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 1px;
}
@media (max-width: 767px) {
  .main .services .services-container .services-bottom {
    overflow: initial;
    margin-right: 30px;
  }
}
.main .services .services-container .services-bottom .srbtn {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 2;
  font-size: 25px;
  cursor: pointer;
}
.main .services .services-container .services-bottom .servicesLeft {
  left: 19px;
  width: 25px;
}
.main .services .services-container .services-bottom .services-container-bottom {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  width: 100%;
  gap: 25px;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
  align-items: center;
}
.main .services .services-container .services-bottom .services-container-bottom .services-bottom-container {
  width: 31.65%;
  line-height: 1.8;
  padding: 35px 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  position: absolute;
  transition: 0.55s;
}
@media (max-width: 767px) {
  .main .services .services-container .services-bottom .services-container-bottom .services-bottom-container {
    width: 100%;
  }
}
.main .services .services-container .services-bottom .services-container-bottom .services-bottom-container:hover {
  background-color: #ffd000;
  color: rgb(168, 168, 168);
}
.main .services .services-container .services-bottom .services-container-bottom .services-bottom-container:hover i {
  color: #fff;
}
.main .services .services-container .services-bottom .services-container-bottom .services-bottom-container i {
  color: #ffd000;
  font-size: 27px;
}
.main .services .services-container .services-bottom .services-container-bottom .services-bottom-container .services-bottom-top {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin: 12px 0 10px;
}
.main .services .services-container .services-bottom .services-container-bottom .services-bottom-container .services-bottom-text {
  font-size: 16px;
}
.main .progress {
  width: 100%;
  height: 330px;
  position: relative;
}
@media (max-width: 767px) {
  .main .progress {
    height: 84vh;
  }
}
.main .progress .progress-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .progress .progress-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6588235294);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .progress .progress-container .progress-main {
  width: 71%;
  height: 39.5%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .main .progress .progress-container .progress-main {
    width: 92%;
    height: 88%;
    gap: 30px;
    flex-direction: column;
  }
}
.main .progress .progress-container .progress-main .progress-top {
  height: 100%;
  width: 31.5%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 25px 40px;
  text-align: center;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .main .progress .progress-container .progress-main .progress-top {
    width: 100%;
    height: 90%;
  }
}
.main .progress .progress-container .progress-main i {
  color: #ffd000;
  font-size: 50px;
}
.main .progress .progress-container .progress-main .progress-main-container {
  margin-left: 25px;
}
.main .progress .progress-container .progress-main .progress-main-container .progress-number {
  font-size: 40px;
  color: white;
}
.main .progress .progress-container .progress-main .progress-main-container p {
  color: white;
  text-transform: uppercase;
}
.main .car {
  width: 100%;
  height: auto;
  padding: 100px 0;
  position: relative;
  z-index: 2;
}
.main .car .car-container {
  width: 82%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 1px;
}
@media (max-width: 767px) {
  .main .car .car-container {
    width: 100%;
  }
}
.main .car .car-container .car-top {
  text-align: center;
  font-size: 15px;
  height: 186px;
  width: 100%;
}
.main .car .car-container .car-top .car-text2 {
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 33px;
}
.main .car .car-container .car-top .car-icon {
  position: relative;
  width: 60px;
  margin: 0 auto;
  color: #ffd000;
  font-size: 18px;
}
.main .car .car-container .car-top .car-icon::after {
  content: "";
  background-color: #333;
  height: 2px;
  left: -38px;
  position: absolute;
  top: 12px;
  width: 50px;
}
.main .car .car-container .car-top .car-icon::before {
  background-color: #333;
  content: "";
  height: 2px;
  position: absolute;
  right: -38px;
  top: 12px;
  width: 50px;
}
.main .car .car-container .car-top .car-txt {
  margin-top: 10px;
  color: #333;
  letter-spacing: 0.8px;
  font-weight: 100;
}
.main .car .car-container .car-bar1 {
  width: 99%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 767px) {
  .main .car .car-container .car-bar1 {
    width: 100%;
    display: flex;
  }
}
.main .car .car-container .car-bar1::after {
  content: "";
  background-color: #ffd000;
  height: 3px;
  left: -1px;
  position: absolute;
  bottom: -3px;
  width: 99%;
}
.main .car .car-container .car-bar1 .car-bar1-btn {
  background-color: #ffd000 !important;
  color: #fff !important;
}
.main .car .car-container .car-bar1 .car-button {
  background-color: #f3f3f3;
  border: medium none;
  border-radius: 0 !important;
  color: #1e2228;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.3px;
  margin-right: 3px;
  padding: 15px 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.main .car .car-container .car-bar2 {
  width: 99%;
  margin: 50px 0;
}
.main .car .car-container .car-bar2 .car-bar2-btn {
  background-color: #ffd000;
  color: #fff;
  outline: none;
}
.main .car .car-container .car-bar2 .car-bar2-btn::after {
  content: "";
  background-color: #fff;
  height: 16px;
  left: 45%;
  position: absolute;
  bottom: -9px;
  width: 8%;
  transform: rotateZ(45deg);
}
.main .car .car-container .car-bar2 .car-bar2-button {
  width: 16.2%;
  height: 46px;
  border: 1px solid #e2e2e2;
  color: #333;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  padding: 12px 0;
  position: relative;
  transition: 0.4s;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 767px) {
  .main .car .car-container .car-bar2 .car-bar2-button {
    width: 15.2%;
  }
}
.main .car .car-container .car-bar2 .car-bar2-button:hover {
  background-color: #ffd000;
  color: #fff;
}
.main .car .car-container .car-select {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  row-gap: 25px;
}
.main .car .car-container .car-select .car-photo {
  width: 33%;
}
@media (max-width: 767px) {
  .main .car .car-container .car-select .car-photo {
    width: 100%;
  }
}
.main .car .car-container .car-select .car-photo .car-container-info {
  height: 24.4%;
}
.main .car .car-container .car-select .car-photo .car-container-info .car-img .car-jpg {
  width: 100%;
  padding-right: 15px;
  padding-left: 9px;
  height: 233px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .car .car-container .car-select .car-photo .car-container-info .car-info-container {
  width: 93.7%;
  height: 134px;
  margin-left: auto;
  margin-right: 14.9px;
  position: relative;
  top: -5px;
  padding-top: 20px;
  border: 1.3px solid rgba(0, 0, 0, 0.3411764706);
}
.main .car .car-container .car-select .car-photo .car-container-info .car-info-container .car-name {
  width: 84%;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.main .car .car-container .car-select .car-photo .car-container-info .car-info-container .car-name .car-text {
  color: #333;
}
.main .car .car-container .car-select .car-photo .car-container-info .car-info-container .car-name .car-pul {
  color: #ffd000;
}
.main .car .car-container .car-select .car-photo .car-container-info .car-info-container .car-txt {
  color: #828282;
  font-size: 11px;
  text-transform: uppercase;
  margin: 13px 28px 15px;
}
.main .car .car-container .car-select .car-photo .car-container-info .car-info-container .car-info {
  width: 84%;
  margin: 0 auto;
}
.main .car .car-container .car-select .car-photo .car-container-info .car-info-container .car-info .car-year {
  border: 1px solid #e2e2e2;
  color: #828282;
  font-size: 11px;
  font-weight: 600;
  padding: 3px 8px;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
.main .car .car-container .car-select .car-photo .car-container-info .car-info-container .car-info .car-year:hover {
  background-color: #fab702;
  color: #fff;
}
.main .client {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  position: relative;
  background: url("/img/photo/audir8.webp");
  background-size: 100%;
  height: 886px;
}
@media (max-width: 767px) {
  .main .client {
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 50px;
  }
}
.main .client .photo {
  width: 100%;
  height: 100%;
}
.main .client .photo-jpg {
  width: 100%;
  height: 100%;
}
.main .client .client-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.74);
  top: 0;
  z-index: 0;
}
.main .client .client-container {
  width: 82%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 1px;
  position: relative;
  z-index: 1;
  height: 100%;
  padding-top: 97px;
}
@media (max-width: 767px) {
  .main .client .client-container {
    width: 100%;
  }
}
.main .client .client-container .client-top {
  text-align: center;
  font-size: 15px;
  height: 186px;
  width: 100%;
}
.main .client .client-container .client-top .services-text {
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 33px;
  color: white;
}
.main .client .client-container .client-top .services-icon {
  position: relative;
  width: 60px;
  margin: 0 auto;
  color: #ffd000;
  font-size: 18px;
}
.main .client .client-container .client-top .services-icon::after {
  content: "";
  background-color: rgb(255, 255, 255);
  height: 2px;
  left: -38px;
  position: absolute;
  top: 12px;
  width: 50px;
}
.main .client .client-container .client-top .services-icon::before {
  background-color: rgb(255, 255, 255);
  content: "";
  height: 2px;
  position: absolute;
  right: -38px;
  top: 12px;
  width: 50px;
}
.main .client .client-container .client-top .services-txt {
  margin-top: 10px;
  color: rgb(201, 196, 196);
  letter-spacing: 0.8px;
  font-weight: 100;
}
.main .client .client-container .client-bootom {
  width: 97%;
  display: flex;
  height: 77%;
  gap: 30px;
}
@media (max-width: 767px) {
  .main .client .client-container .client-bootom {
    width: 100%;
    flex-direction: column;
  }
}
.main .client .client-container .client-bootom .client-bottom-container {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  height: 84%;
  color: #fff;
  padding: 50px 0 0;
}
@media (max-width: 767px) {
  .main .client .client-container .client-bootom .client-bottom-container {
    width: 100%;
  }
}
.main .client .client-container .client-bootom .client-bottom-container .clinet-bottom-text {
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
}
.main .client .client-container .client-bootom .client-bottom-container .client-bootom-price {
  color: #ffc714;
  font-size: 40px;
  margin: 10px 0;
  text-transform: uppercase;
}
.main .client .client-container .client-bootom .client-bottom-container .client-bootom-month {
  color: #ccc;
  font-size: 14px;
}
.main .client .client-container .client-bootom .client-bottom-container .client-bootom-list {
  text-align: center;
  line-height: 3em;
  margin-top: 20px;
  width: 100%;
}
.main .client .client-container .client-bootom .client-bottom-container .client-bootom-list .client-bootom-list-text {
  padding: 5px 20px;
  border-top: 1px solid #999;
  font-size: 14px;
  line-height: 3;
  letter-spacing: 0.8px;
}
.main .persons {
  width: 100%;
  height: auto;
  padding: 100px 0;
  position: relative;
}
.main .persons .persons-container {
  width: 82%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 1px;
}
@media (max-width: 767px) {
  .main .persons .persons-container {
    width: 100%;
  }
}
.main .persons .persons-container .persons-top {
  text-align: center;
  font-size: 15px;
  height: 186px;
  width: 100%;
}
.main .persons .persons-container .persons-top .persons-text {
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 33px;
}
.main .persons .persons-container .persons-top .persons-icon {
  position: relative;
  width: 60px;
  margin: 0 auto;
  color: #ffd000;
  font-size: 18px;
}
.main .persons .persons-container .persons-top .persons-icon::after {
  content: "";
  background-color: #333;
  height: 2px;
  left: -38px;
  position: absolute;
  top: 12px;
  width: 50px;
}
.main .persons .persons-container .persons-top .persons-icon::before {
  background-color: #333;
  content: "";
  height: 2px;
  position: absolute;
  right: -38px;
  top: 12px;
  width: 50px;
}
.main .persons .persons-container .persons-top .persons-txt {
  margin-top: 10px;
  color: #333;
  letter-spacing: 0.8px;
  font-weight: 100;
}
.main .persons .persons-container .persons-bottom {
  width: 100%;
  height: 429px;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .main .persons .persons-container .persons-bottom {
    height: auto;
    flex-direction: column;
  }
}
.main .persons .persons-container .persons-bottom .person-left {
  background-color: #efefef;
  padding: 20px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .main .persons .persons-container .persons-bottom .person-left {
    width: 100%;
    gap: 15px;
  }
}
.main .persons .persons-container .persons-bottom .person-left .leftactive {
  background-color: #ffc714 !important;
}
.main .persons .persons-container .persons-bottom .person-left .leftactive .person-left-jpg {
  border-color: #373636 !important;
}
.main .persons .persons-container .persons-bottom .person-left .person-left-container {
  width: 92.3%;
  height: 22.1%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  background-color: #fff;
  padding-left: 20px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .main .persons .persons-container .persons-bottom .person-left .person-left-container {
    width: 100%;
    height: 86px;
  }
}
.main .persons .persons-container .persons-bottom .person-left .person-left-container .person-left-img {
  height: 83%;
}
@media (max-width: 767px) {
  .main .persons .persons-container .persons-bottom .person-left .person-left-container .person-left-img {
    height: 70px;
  }
}
.main .persons .persons-container .persons-bottom .person-left .person-left-container .person-left-img .person-left-jpg {
  width: 100%;
  height: 100%;
  border: 2px solid #ffd000;
  border-radius: 50%;
}
.main .persons .persons-container .persons-bottom .person-left .person-left-container .person-left-name {
  font-size: 18px;
  font-weight: 600;
  padding-left: 15px;
}
.main .persons .persons-container .persons-bottom .person-center {
  width: 30.72%;
  background-color: #eeeeee;
}
@media (max-width: 767px) {
  .main .persons .persons-container .persons-bottom .person-center {
    width: 100%;
  }
}
.main .persons .persons-container .persons-bottom .person-center .person-center-jpg {
  height: 429px;
}
.main .persons .persons-container .persons-bottom .person-right {
  width: 30.6321%;
  background-color: #eeeeee;
  padding: 50px 30px;
  text-align: center;
}
@media (max-width: 767px) {
  .main .persons .persons-container .persons-bottom .person-right {
    width: 100%;
  }
}
.main .persons .persons-container .persons-bottom .person-right .person-right-container .person-right-name {
  color: #ffd000;
  font-size: 22px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.main .persons .persons-container .persons-bottom .person-right .person-right-container .person-right-work {
  font-size: 15px;
  font-weight: 400;
}
.main .persons .persons-container .persons-bottom .person-right .person-right-container .quote {
  color: #575555;
  display: block;
  font-size: 50px;
  margin: 20px 0;
}
.main .persons .persons-container .persons-bottom .person-right .person-right-container .person-right-info {
  color: #575555;
  margin-bottom: 40px;
}
.main .persons .persons-container .persons-bottom .person-right .person-right-container .person-right-sosial .person-right-icon {
  background-color: #ffd000;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  transition: all 0.4s ease 0s;
  width: 40px;
  font-size: inherit;
}
.main .taxi {
  width: 100%;
  height: 508px;
  position: relative;
}
@media (max-width: 767px) {
  .main .taxi {
    height: 360px;
  }
}
.main .taxi .taxi-video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.main .taxi .taxi-video .taxi-play {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .taxi .color {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6392156863);
}
.main .taxi .taxi-container {
  position: relative;
  z-index: 2;
  display: flex;
  width: 91.5%;
  margin: 0 auto;
  height: 100%;
  justify-content: space-evenly;
}
.main .taxi .taxi-container .taxi-container-left {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 767px) {
  .main .taxi .taxi-container .taxi-container-left {
    width: 100%;
  }
}
.main .taxi .taxi-container .taxi-container-left .taxi-text {
  font-size: 70px;
  color: #ffd000;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .main .taxi .taxi-container .taxi-container-left .taxi-text {
    font-size: 26px;
  }
}
.main .taxi .taxi-container .taxi-container-left .taxi-txt {
  margin: 5px 0 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .main .taxi .taxi-container .taxi-container-left .taxi-buton {
    display: flex;
  }
}
.main .taxi .taxi-container .taxi-container-left .taxi-buton .taxi-button {
  font-size: 16px;
  border: 2px solid #ffd000;
  border-radius: 50px;
  color: #fff;
  margin-right: 40px;
  padding: 10px 20px;
  transition: all 0.4s ease 0s;
  background: none;
}
@media (max-width: 767px) {
  .main .taxi .taxi-container .taxi-container-left .taxi-buton .taxi-button {
    padding: 9px 12px;
  }
}
.main .taxi .taxi-container .taxi-container-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .main .taxi .taxi-container .taxi-container-right {
    display: none;
  }
}
.main .taxi .taxi-container .taxi-container-right .taxi-jpg {
  width: 61%;
}
.main .articles {
  width: 100%;
  height: auto;
  padding: 100px 0 54px;
}
.main .articles .articles-container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 1px;
}
@media (max-width: 767px) {
  .main .articles .articles-container {
    width: 100%;
  }
}
.main .articles .articles-container .articles-top {
  text-align: center;
  font-size: 15px;
  height: 186px;
  width: 100%;
}
.main .articles .articles-container .articles-top .articles-text {
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2em;
  font-size: 33px;
}
.main .articles .articles-container .articles-top .articles-icon {
  position: relative;
  width: 60px;
  margin: 0 auto;
  color: #ffd000;
  font-size: 18px;
}
.main .articles .articles-container .articles-top .articles-icon::after {
  content: "";
  background-color: #333;
  height: 2px;
  left: -38px;
  position: absolute;
  top: 12px;
  width: 50px;
}
.main .articles .articles-container .articles-top .articles-icon::before {
  background-color: #333;
  content: "";
  height: 2px;
  position: absolute;
  right: -38px;
  top: 12px;
  width: 50px;
}
.main .articles .articles-container .articles-top .articles-txt {
  margin-top: 10px;
  color: #333;
  letter-spacing: 0.8px;
  font-weight: 100;
}
.main .articles .articles-container .column-revers {
  flex-direction: row-reverse;
}
.main .articles .articles-container .articles-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 6px 2px #9f9797;
  height: 300px;
  margin-bottom: 46px;
}
@media (max-width: 767px) {
  .main .articles .articles-container .articles-bottom {
    flex-direction: column;
    height: auto;
    padding-bottom: 40px;
  }
}
.main .articles .articles-container .articles-bottom .articles-img {
  width: 69.104%;
  height: 100%;
}
@media (max-width: 767px) {
  .main .articles .articles-container .articles-bottom .articles-img {
    width: 100%;
    padding-bottom: 35px;
  }
}
.main .articles .articles-container .articles-bottom .articles-img .articles-jpg {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.4s;
  height: 100%;
}
.main .articles .articles-container .articles-bottom .articles-img .articles-jpg:hover {
  filter: grayscale(0%);
  transition: all 0.4s;
}
.main .articles .articles-container .articles-bottom .articles-right {
  padding: 0 25px;
  width: 100%;
  position: relative;
}
@media (max-width: 767px) {
  .main .articles .articles-container .articles-bottom .articles-right {
    padding: 0;
  }
}
.main .articles .articles-container .articles-bottom .articles-right .date2 {
  left: inherit !important;
  right: -28px;
}
@media (max-width: 767px) {
  .main .articles .articles-container .articles-bottom .articles-right .date2 {
    right: 40%;
  }
}
.main .articles .articles-container .articles-bottom .articles-right .articles-date {
  position: absolute;
  top: 35%;
  left: -25px;
  width: 55px;
  background: #ffe000;
  text-align: center;
  border-radius: 10px;
  padding: 6px;
  color: #fff;
}
@media (max-width: 767px) {
  .main .articles .articles-container .articles-bottom .articles-right .articles-date {
    top: -21%;
    left: 40%;
  }
}
.main .articles .articles-container .articles-bottom .articles-right .articles-right-container {
  margin-left: 33px;
}
.main .articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-right-text {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  color: #222;
  font-size: 20px;
}
.main .articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-right-txt {
  margin: 15px 0 10px;
}
.main .articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-right-txt .txt-container {
  color: #999;
  font-size: 12px;
  font-weight: 600;
  margin-right: 25px;
  text-transform: uppercase;
}
.main .articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-right-txt .txt-container .articles-name .articles-user {
  color: #ffd000;
}
.main .articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-info {
  color: #999;
  line-height: 1.8;
  text-transform: capitalize;
}
.main .articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-button {
  background-color: #222;
  color: #ffd000;
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-top: 25px;
  padding: 16px 40px;
  cursor: pointer;
  transition: all 0.4s;
  border: none;
  text-transform: uppercase;
}
.main .articles .articles-container .articles-bottom .articles-right .articles-right-container .articles-button:hover {
  background-color: #ffd000;
  color: #fff;
  border: none;
}

.footer {
  width: 100%;
  background-color: #1e2228;
}
.footer .footer-name {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}
.footer .footer-container {
  padding: 60px 0;
  display: flex;
  width: 78%;
  margin: 0 auto;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer .footer-container {
    width: 100%;
    flex-direction: column;
  }
}
.footer .footer-container .footer-top {
  width: 30.595%;
}
@media (max-width: 767px) {
  .footer .footer-container .footer-top {
    width: 100%;
  }
}
.footer .footer-container .footer-top .footer-logo {
  margin-bottom: 20px;
}
.footer .footer-container .footer-top .footer-top-text {
  font-size: 13px;
  line-height: 2;
  color: #fff;
}
.footer .footer-container .footer-top .footer-form {
  margin-top: 20px;
  position: relative;
}
.footer .footer-container .footer-top .footer-form .footer-input {
  background-color: transparent;
  border: 1px solid #ffd000;
  border-radius: 2px;
  color: #fff;
  height: 55px;
  padding: 10px;
  padding-right: 70px;
  width: 100%;
}
.footer .footer-container .footer-top .footer-form .footer-top-icon {
  width: 50px;
  height: 100%;
  font-size: 41px;
  background-color: #ffd000;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  cursor: pointer;
}
.footer .footer-container .footer-center {
  width: 30.595%;
}
@media (max-width: 767px) {
  .footer .footer-container .footer-center {
    width: 100%;
  }
}
.footer .footer-container .footer-center .footer-center-text {
  background-color: #000;
  font-weight: 600;
  letter-spacing: 1.3px;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  color: #ffd000;
  font-size: 13px;
}
.footer .footer-container .footer-center .footer-center-text .footer-center-icon {
  background-color: #fff;
  color: #000;
  font-size: 18px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 23%;
  padding: 7px;
  cursor: pointer;
}
.footer .footer-container .footer-center .footer-center-text:hover .footer-center-icon {
  background-color: #ffd000;
}
.footer .footer-container .footer-bottom {
  width: 33.217%;
}
@media (max-width: 767px) {
  .footer .footer-container .footer-bottom {
    width: 100%;
  }
}
.footer .footer-container .footer-bottom .footer-bottom-text {
  font-size: 13px;
  line-height: 2;
  color: #fff;
}
.footer .footer-container .footer-bottom .footer-bottom-info {
  color: #ffd000;
  font-size: 15px;
  font-weight: 600;
  line-height: 2.5;
}
.footer .footer-container .footer-bottom .footer-bottom-location {
  background-color: #ffd000;
  color: #000 !important;
  font-size: 13px;
  font-weight: 600;
  margin-top: 20px;
  padding: 13px 30px;
  border: none;
  cursor: pointer;
}
.footer .end {
  background-color: #000;
  color: #eaeaea;
  padding: 15px 0;
}
.footer .end .end-container {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
@media (max-width: 767px) {
  .footer .end .end-container {
    width: 100%;
  }
}
.footer .end .end-container .end-text {
  font-size: 14px;
}
.footer .end .end-container .end-text .endicon {
  color: #eaeaea;
}
.footer .end .end-container .end-text .end-txt {
  color: #ffd000;
}/*# sourceMappingURL=style.css.map */