@import "variables";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    --about-bg-color: white;
    --about-txt-color: black;
    --about-c-con-text-color: black;
    --service-cont-color: #fff;
    --about-cont-bg-color: #e4e3e3;
    --about-text-cl: #333;
    --car-btn-bg-color: #f3f3f3;
    --car-btn-text-color: #1e2228;
    --color-pul: #ae8e00;
    --btn-color: #ffd000;
    --person-cont-bg: #b0adad;
    --person-bg-color: #fff;
    --dsp-lay: flex;


}



.dark {
    --about-bg-color: #000000e6;
    --about-txt-color: chartreuse;
    --about-c-con-text-color: white;
    --service-cont-color: #515b69;
    --about-cont-bg-color: #403c3c;
    --about-text-cl: #cbc7c7;
    --car-btn-bg-color: #000;
    --car-btn-text-color: #fff;
    --color-pul: #ffd000;
    --btn-color: #8c7308;
    --person-cont-bg: #5c5757;
    --person-bg-color: #282828;
    --dsp-lay: none;



}

.scroll {
    position: fixed;
    z-index: 10;
    width: 30px;
    height: 60px;
    right: 20px;
    bottom: 35px;
    transform: translateY(93px);
    transition: all 1s;
    cursor: pointer;
}


body::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000000;
    border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(242, 230, 62)),
            color-stop(0.72, rgb(198, 190, 43)),
            color-stop(0.86, rgb(164, 175, 37)));
}



.hidden {
    display: none !important;
}


.circlee {
    .clients-bottom-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        position: absolute;
        top: 630px;
        z-index: 2;
        left: 28%;
        @include tablet {
                left: 40%;
                top:28%;
        }

        @include mobile{
            left: 29% !important;
        }

        .circle {
            cursor: pointer;

            .fa-solid.fa-circle {}
        }
    }

}

.car-details-container {
    width: 100%;
    height: auto;
    padding: 100px 0;
    position: relative;
    z-index: 1;
    position: relative;

    .car-details2 {
        width: 82%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        // flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding-bottom: 1px;
        position: relative;
        z-index: 1;
        height: 100%;
        padding-top: 97px;
        align-items: flex-start;
        margin-bottom: 70px;
        position: relative;
        overflow: hidden;

        @include tablet {
            flex-direction: column;
        }

        .delta {
            width: 66.55%;
            // display: flex;
            // height: 77%;
            // gap: 24px;
            @include tablet {
                width: 100%;
            }

            .car-details-right {
                position: relative;
                width: 100%;
                height: 941px;
                overflow: hidden;
                @include tablet {
                    height: 1160px;
                }

                .car-details-right-container {
                    overflow: hidden;
                    position: absolute;



                    .car-name {
                        border-bottom: 1px solid #ffd000;
                        font-weight: 400;
                        margin-bottom: 20px;
                        padding-bottom: 10px;

                        .car-push {
                            float: right;
                            font-size: 18px;
                        }
                    }

                    .car-right-img {

                        .car-right-jpg {
                            height: 456px;
                            width: 100%;
                        }


                    }

                    .car-info {
                        color: #666;
                        line-height: 2;
                        padding-top: 30px;

                        .car-info-top {
                            color: #000;
                            font-size: 20px;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                        }

                        .car-info-text {
                            color: #666;
                            line-height: 2;
                            font-size: 14px;
                            letter-spacing: 0.8;
                        }



                    }



                    .car-info-table {
                        margin-top: 30px;
                        display: flex;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        margin-right: -15px;
                        margin-left: -15px;
                        gap: 44px;

                        @include tablet {
                            padding: 18px;
                        }

                        .table {
                            width: 50%;

                            @include tablet {
                                width: 100%;
                            }

                            .table-cont {
                                border: 1px solid #e9ecef;
                                border-collapse: collapse;
                                width: 100%;
                                text-align: justify;

                                tbody {}

                                tr {
                                    .tabl-left {
                                        padding: 0.75rem;
                                        vertical-align: top;
                                        border: 1px solid #e9ecef;
                                    }

                                    .tabl-right {
                                        padding: 0.75rem;
                                        vertical-align: top;
                                        border: 1px solid #e9ecef;
                                    }
                                }
                            }


                        }

                        .list {
                            display: flex;
                            @include tablet {
                                width: 100%;
                            }

                            .lists {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                @include tablet {
                                    width: 33%;
                                }

                                .list-text {
                                    &::before {
                                        color: #fab702;
                                        content: "\f058";
                                        font-family: FontAwesome;
                                        margin-right: 15px;
                                    }
                                }
                            }

                        }


                    }
                }
            }

        }

        .car-details-left {
            width: 33.45%;
            padding-left: 30px;
            @include tablet {
                width: 100%;
            padding-left: 0px;

            }

            .pricing-left {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

             

                .pricing-left-top {
                    width: 100%;
                    box-shadow: 0px 0px 10px 1px#0000008c;
                    margin-bottom: 40px;
               
                    .pricing-left-top-container {
                        .left-top-name {
                            background-color: #ffd000;
                            color: #222;
                            font-size: 18px;
                            padding: 12px 5px;
                            text-align: center;
                            text-transform: uppercase;
                        }

                        .left-top-cont {
                            line-height: 2;
                            padding: 30px 15px;
                            background: var(--person-cont-bg);

                            .left-top-cont-number {
                                color: var(--about-text-cl);
                                font-size: 15px;

                                i {
                                    color: #ffd000;
                                    font-size: 17px;
                                    margin-right: 4px;
                                    text-align: center;
                                    width: 20px;
                                }


                            }
                        }

                    }
                }

                .pricing-left-center {
                    width: 100%;
                    box-shadow: 0px 0px 10px 1px#0000008c;
                    margin-bottom: 40px;
                    background: var(--person-cont-bg);


                  

                    .left-center-name {
                        background-color: #ffd000;
                        color: #222;
                        font-size: 18px;
                        padding: 12px 5px;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    .left-center-cont {
                        line-height: 2;
                        padding: 30px 15px;

                        .left-cont {
                            display: flex;
                            align-items: center;
                            margin-bottom: 25px;
                            background-color: var(--person-bg-color);

                            img {
                                width: 82px;
                                border-radius: 50%;
                            }

                            .left-cont-text {
                                margin-left: 20px;

                                .left-txt {
                                    width: 71%;
                                    line-height: 1.4;
                                }

                                .left-date {
                                    display: block;
                                    margin-top: 5px;
                                    text-transform: uppercase;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }

                .pricing-left-bottom {
                    width: 100%;
                    box-shadow: 0px 0px 10px 1px#0000008c;
                    margin-bottom: 40px;
                

                    .left-bottom-text {
                        background-color: #ffd000;
                        color: #222;
                        font-size: 18px;
                        padding: 12px 5px;
                        text-align: center;
                        text-transform: uppercase;
                    }

                    .left-bottom-cont {
                        line-height: 2;
                        padding: 30px 15px;

                        .icon {
                            text-align: center;

                            .sosial {
                                border: 1px solid var(--about-text-cl);
                                border-radius: 50%;
                                color: var(--about-text-cl);
                                height: 40px;
                                line-height: 40px;
                                transition: all 0.3s ease 0s;
                                width: 40px;
                            }
                        }
                    }
                }
            }

        }
    }


    .details-form {
        width: 51%;
        margin-left: 60px;
        @include tablet {
            width: 82%;
        }

        .star {
            color: #ffd000;

            .fa-solid .fa-star {
                color: #ffd000;
                font-size: 13px;
            }

            .fa-regular.fa-star {
                color: #ffd000;
                font-size: 17px;
            }
        }

        .form-top {
            .form-top-input {
                margin-bottom: 22px;
                display: flex;
                justify-content: space-between;

                .input {
                    background-color: #fafafa;
                    border: 1px solid #eaeaea;
                    color: #000;
                    padding: 15px;
                    resize: none;
                    width: 48%;
                    outline: none;

                    &:focus {
                        border: 1px solid #ffd000;

                    }
                }

                .nametext {}

                .emailtext {}

                .succes {}
            }

            .form-top-message {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .mesaj {
                    width: 100%;
                    height: 150px;
                    background-color: #fafafa;
                    border: 1px solid #eaeaea;
                    color: #000;
                    padding: 15px;
                    outline: none;

                    &:focus {
                        border: 1px solid #ffd000;

                    }
                }

                .mesajtxt {}

                .butons {
                    .form-buton {
                        background-color: #ffd000;
                        border: medium none;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 600;
                        margin-right: 15px;
                        margin-top: 25px;
                        padding: 14px 40px;
                        text-transform: uppercase;

                        &:hover {}

                        &:active {}

                        &:focus {}
                    }
                }
            }
        }
    }

}